<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Titanic Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body style = 'background: url(https://img5.goodfon.com/wallpaper/nbig/1/5c/transatlantic-boardgame-dominik-mayer-by-dominik-mayer-trans.jpg); background-size: 100% 100%'>

      <form action="/prediction" method="POST">
      
        <h1>Would You Have Survived The Titanic?</h1>
        
        <fieldset>
          <legend><span class="number">!</span>Answer the survey below as if you were getting on the Titanic 100 years ago in your current situation. If you want, you can also enter hypothetical values as well! Have fun!</legend>
          <label for="Age">Age</label>
          <input type="text" id="Age" name="Age">
          <label>Gender:</label>
          <input type="radio" id="1" value="1" name="Sex"><label for="1" class="light">Male</label><br>
          <input type="radio" id="0" value="0" name="Sex"><label for="0" class="light">Female</label>
          <br>
          <br>
          <label for="Pclass">Which ticket class would you have bought?</label>
          <select id="Pclass" name="Pclass">
            <optgroup label="Web">
              <option value="1">First Class</option>
              <option value="2">Second Class</option>
              <option value="3">Third Class</option>
            </optgroup>
          </select>
          <small>
          <p style="color:#831BDF" class="vertify-booking">The ticket prices for the Titanic today would have been: $350-$900 for Third-Class, $1,375 for Second-Class and ranging from $3,500 to $50,000 for First-Class.</p>
          </small>
          <br>
          <label for="Parch">How many parents and/or children would have brought along aboard the Titanic?</label>
          <input type="text" id="Parch" name="Parch">
          <label for="SibSp">How many siblings and/or spouses would have brought along aboard the Titanic?</label>
          <input type="text" id="SibSp" name="SibSp">
          <label>Are you a mother with children on board?</label>
          <input type="radio" id="1" value="1" name="IsMother"><label for="1" class="light">Yes</label><br>
          <input type="radio" id="0" value="0" name="IsMother"><label for="0" class="light">No</label>
        </fieldset>
        <button type="submit">Predict</button>
      </form>
      
    </body>
</html>